.cont{
    height:50vh;
    width: 50vw;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #f9f9f9;
    
    
}
.submit button{
    border-radius: 9px;
    background-color: rgb(154, 154, 255);
    color: blue;
    width: 100px;
    font-weight: bolder;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}
.bjp{
    padding: 3px;
}
.congress{
padding: 3px
}
.brs{
padding: 3px
}
.janasena{
padding: 3px
}
.jsrcp{
padding: 3px
}
.nota{
padding: 3px
}